<!doctype html>
<html>
    <head>
        <title>Ease app</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script>
            
            function sendEvent(){ //dispatch an Event to warn the plugin it has to connect to the website
                var event = new CustomEvent("NewConnection",{'detail':{"user":'ntm@gmail.com', "pass":'xxxxx', "website":"https://www.facebook.com/login.php", "userField":"email", "passField":"pass", "button":'loginbutton'}});
                console.log(event.detail);
                document.dispatchEvent(event);
                console.log("event sent");
            }
            
        </script>
        
    </head>
    <body>
        <p>Welcome to Ease Benjamin !</p>
        
        <button id="button" onclick="sendEvent()">LE GROS BOUTON</button>

    </body>
</html>