<!doctype html>
<html>
    <head>
        <title>Ease app</title>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        

        <script>
            
            function getDatas(website, callback){    
                $.getJSON('ease/connection/'+website, function(data) {
                    callback(data);
                });
            }
            
            function getDatasFacebook(callback){
                $.getJSON('ease/connectionFacebook.json', function(data) {
                    callback(data);
                });
            }
            
            function getDatasIO(callback){
                $.getJSON('ease/connectionIO.json', function(data) {
                    callback(data);
                });
            }
            
            function getDatasTwitter(callback){
                $.getJSON('ease/connectionTwitter.json', function(data) {
                    callback(data);
                });
            }
            
            function getDatasO365mail(callback){
                $.getJSON('ease/connectionO365mail.json', function(data) {
                    callback(data);
                });
            }
      
      
            
            function sendEvent1(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatas("iesegonline",function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":'benjamin.prigent@ieseg.fr',
                            "pass":'bw9m1xo'
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });

            }

            function sendEvent2(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatas("youtube", function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":'felix@ease-app.co',
                            "pass":'fairedubif'
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });
            }

            
            function sendEvent3(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatasFacebook("facebook",function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":'fel.richart@gmail.com',
                            "pass":'LaMadeleine59110'
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });
            }
            
            function sendEvent4(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatasTwitter("twitter",function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":'fel.richart@gmail.com',
                            "pass":'Ldsqkjds'
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });

            }
            
            function sendEvent5(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatas("blablacar", function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "fbConnection":true,
                            "facebookUser":'fel.richart@gmail.com',
                            "facebookPass":'LaMadeleine59110'
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });

            }
            
            function sendEvent6(){ //dispatch an Event to warn the plugin it has to connect to the website
                getDatas("office365mail",function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":"djdsklqdsjdqs",
                            "pass":"djfjlkd"
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });

            }
            
            function sendEvent(website){
                getDatas(website,function(datas){
                    var event = new CustomEvent("NewConnection",{ //dispatch an Event to warn the plugin it has to connect to the website
                    'detail':{
                        'infos':{
                            "user":"benjamin.prigent@ieseg-online.fr",
                            "pass":"bw9m1xo"
                        },
                        
                        "connection":datas
                    }
                    });
                    document.dispatchEvent(event);
                    console.log("event sent");
                });

            }
            
            
        </script>
        
    </head>
    <body>
        <p>Welcome to Ease Benjamin !</p>
        
        <button id="button1" onclick="sendEvent('iesegonline')">LE GROS BOUTON POUR IESEG ONLINE</button>
        <button id="button2" onclick="sendEvent('youtube')">LE GROS BOUTON POUR YOUTUBE</button>
        <button id="button3" onclick="sendEvent('facebook')">LE GROS BOUTON POUR FACEBOOK</button>
        <button id="button4" onclick="sendEvent('twitter')">LE GROS BOUTON POUR TWITTER</button>
        <button id="button5" onclick="sendEvent('blablacar')">LE GROS BOUTON POUR BLABLACAR</button>
        <button id="button6" onclick="sendEvent('office365mail')">LE GROS BOUTON POUR OFFICE 365</button>
        <button id="button7" onclick="sendEvent('iesegnetwork')">LE GROS BOUTON POUR IESEG NETWORK</button>
        <button id="button8" onclick="sendEvent('unifyieseg')">LE GROS BOUTON POUR UNIFY</button>

    </body>
</html>