<!doctype html>
<html>
    <head>
        <title>Ease app</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script>
            
            var win1;
            
            function test(){
                
                console.log(win1.document.cookie);
                
            }
            
            function onload(){
                win1 = window.open('http://www.w3schools.com/','winname', 'width=200,height=200');
            }
            
            function sendEvent(){ //dispatch an Event to warn the plugin it has to connect to the website
                var event = new CustomEvent("NewConnection",{}); //right now no parameters. Soon, all infos about user and targeted website
                document.dispatchEvent(event);
                console.log("event sent");
            }
            
        </script>
        
    </head>
    <body onload = onload()>
        <p>Welcome to Ease Benjamin !</p>
        
        <button id="button" onclick="test()">LE GROS BOUTON</button>

    </body>
</html>